*{
    box-sizing: border-box;
}

.court-card{ 
    background-color: white; 
    height:90%;
    width: 100%; 
    border-radius: 5px;  
    padding: 10px ; 
    margin: 0;  
    display: grid;  
    grid-template-rows: .8fr 1.7fr;
}  

h1{
    margin: 0;
    font-size: 1.5rem;
}  

h2{
    font-size: 1rem;
    margin: 0;
}
.court-top{ 
    width: 100%; 
}


.dot{
    color: orange;
}

.court-bottom{  
    padding: 1rem;
    border-radius: 5px;
    background-color: #dcdcdc; 
    width: 100%;   
    position: relative;

} 

.court-more-info{
   margin: 0; 
   font-size: .75rem; 
} 
.court-more-info p{
    font-size: .8rem; 
    margin:0;
} 

.recent-changes{
    margin-top: 2rem;
    width: 100%; 
    height: 45%; 
} 

.recent-changes h3 { 
    font-family: Arial, Helvetica, sans-serif; 
    font-weight: bold; 
    font-size: .9rem; 
    color: rgb(48, 48, 48);

}

.r-date{
    color:#f86931
}

.revise-btn{
    cursor: pointer;
    background-color: rgb(210, 209, 209);
    color: #f86931; 
    transition: ease-in-out 1s; 
    font-weight: bold; 
    margin: 0; 
    margin-top: 40px;  
    position: absolute;
    bottom: 0;
    left: 0;
}
.revise-btn:hover{
    background-color: rgba(235, 235, 235, 0.546);
}

.c-court-num{  
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    letter-spacing: -0.3rem;
    font-size: 2.5rem;
    color: #f86931!important; 
    font-style: oblique;
}  


.bb{
    width: 50px;
    height: 50px;
} 
.c-image{
    margin-top: 1.5rem;
    width: 100%;   
    display: flex;
    flex-direction: row;
    gap: 10px; 

}  

img{
    margin: 0!important; 
    padding: 0;
} 

.c-image img{
    height: 90px;
    width: 70px;
}  

@media (min-width: 1090px) { 

    .court-card{
        width: 50%;
        height: 80%; 
        grid-template-rows: 1.3fr .7fr;
    }  

    .c-image img{
        height: 150px;
        width: 100px;
    }  
    .c-court-num{  
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
        letter-spacing: -0.3rem;
        font-size: 4.5rem;
        color: #f86931!important; 
        font-style: oblique;
    }    

    .court-bottom{  
       display:grid; 
       grid-template-columns: repeat(2, 1fr);
    
    } 
    
    .c-image{ 
        height: 100px;
          
    } 

    .recent-changes{
        margin-top: 0;
        width: 100%; 
        height: 45%; 
    } 
    
    .recent-changes h3 { 
        margin: 0;
        font-family: Arial, Helvetica, sans-serif; 
        font-weight: bold; 
        font-size: .9rem; 
        color: rgb(48, 48, 48);
    
    } 

    .court-top {
        display: flex;
    }  

    .court-t-l{
        flex: 1;
    } 

    .court-t-l{
        flex: 1;
    }  

    .edit-c{
        width: 30px;
        height: 30px;
        background-color: #f86931; 
        background: url(../images/edit-c.svg);
        background-size: cover; 
        background-repeat: no-repeat;  
        cursor: pointer; 
        opacity: 40%; 
        
    } 
    .court-t-r{
        display: flex; 
        flex-direction: row-reverse;
        gap: 10px;
    }
    
    .like-c{
        width: 25px;
        height: 25px;
        background-color: #f86931; 
        background: url(../images/hand.png);
        background-size: cover; 
        background-repeat: no-repeat;  
        cursor: pointer; 
        opacity: 40%;
    }  
    
    .like-c:hover {
        opacity: 80%;

    } 
    .like-cg{
        width: 25px;
        height: 25px;
        background-color: #f86931; 
        background: url(../images/hand-g.png);
        background-size: cover; 
        background-repeat: no-repeat;  
        cursor: pointer; 
        opacity: 90%;
    }  
    
    .like-cg:hover {
        opacity: 80%;

    }


    .edit-c:hover{
       opacity: 70%;
    }  

    .miles-away{
        margin-top:20px ;
        color: rgb(85, 167, 85);
        font-size: 1.1rem;  
        font-weight: bold; 
        
    } 

    .m-num{ 
        font-size: 1.6rem; 
        color: rgb(85, 167, 85);   
        -webkit-text-stroke: 1px rgb(106, 223, 141);

    }  

    .btn-add-img{
        width: 22px;
        height: 22px;
        background: rgb(250, 197, 98); 
        background-image: url(/src/componets/images/add-p.png); 
        background-size: cover; 
        cursor: pointer;  
        border: solid 2px ;

        

    }  
    
    .btn-add-img:hover{ 
        scale: 110%;
        background-color: rgba(255, 63, 63, 0.772);
    }

    #imageDesc{ 
        
        width: 130px; 
        height: 30px;
    }
    .img-form{ 
        display: flex; 
        flex-direction: column; 
        gap: .35rem;
        border: solid black 3px; 
        height: 90px; 
        margin-top: .5em;  
        padding: .5rem;
        width:260px

    } 
    .upload-icon{  
        width: 15px;
        height: 15px;
    } 
    .u-btn{ 
        margin: 0;
        display: grid; 
        grid-template-columns:.90fr .2fr  ;
        grid-gap:3%; 
        place-items: center;
        width: 130px; 
        height: 50px; 
        
    } 
    .u-btn:hover{
        background: #509731;
    }  

    
    .c-s-btn{
        background: #4e68a1; 
        width: 50px;
        height:25px;   
        font-size: .7rem; 
        margin-left: 0;  
       
    }  
    .c-s-btn:hover{
        background-color: rgb(40, 54, 71);
    } 

    .carousell-container{
        margin-top: .5em;  
        height: 90px; 
        width:260px; 
        display: grid; 
        grid-auto-flow: column; 
        gap: 10px;  
        overflow: hidden;
        align-items: start;
    }
    .carousell-box{
        width: 70px;
        height: 70px; 
        background: rgb(86, 75, 144); 
        border: solid 3px white;
        border-radius: 5px ; 
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    }
} 