.container{
    background-image: url(../images/bkImage.jpg); 
    background: linear-gradient( rgba(0, 0, 0, 0.322), rgba(0, 0, 0, 0.379) ), url(../images/bkImage.jpg);
    background-repeat: no-repeat;  
    background-size: 300%; 
    height: 100vh;
    display: flex; 
    flex-direction: column;  
    padding: 2em 2em; 
    overflow: hidden;  
    flex: 1; 
    box-sizing: border-box;
    
    
} 

/*  

this card call is only temp 

will be changeing this to fix the web view

*/



.top-box{   
    width: 100%; 
    height: 500px; 
    background-color: aquamarine;

} 

img{
    width: 200px;  
    height: 200px;
    align-items: center;
    margin: 2rem 0; 
}   

.bb-image{  
    margin-top: 2%;
    width: 60px;
    height:  80px;
    
    
}   

.court-num{  
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    letter-spacing: -0.3rem;
    font-size: 2rem; 
    color: #f86931; 
    font-style: oblique; 
    margin-top: 30px;
}  
  
.cards{
    display: grid;
    row-gap: 10px;
}



.h-card{ 
    width: 100%; 
    height: 100%;
    background: white;
    border-radius: 5px; 
    box-shadow: 1px 4px 2px 2px rgba(0, 0, 10, 0.594); 
   
    padding: .5em ;

} 


.card h1{ 
     font-size: 1.1em; 
     margin: 0;
}
 
.card h2{
    font-size: .8em; 
    margin:0; 
    font-weight: normal;
}

.top-heading{   
    
    font-weight: normal;
    font-size: 1em;
    margin:.5rem .5rem; 
    color: white;
    font-family: Helvetica, sans-serif; 
    margin-right: 75%;
}   

.h-read-more{
    width: 80px; 
    height: 20px;
}



@media (max-width: 32em) {
    .container { 
        background-size: 600%;     
       
   }
  }   

  @media (max-width: 50em) {
    .container { 
        background-size: 600%; 
       
       
   }
  } 
     

@media (min-width: 1090px){ 
    .container{
        padding: .5em 1em;

    
    } 
    .top{
        height:80px;
    }

    .bb-image{  
        margin-top: 2%;
        width: 50px;
        height:  60px;
        
        
    }  
    .cards{
        display: grid; 
        grid-template-row: repeat(3 , 1fr);
        width: 30%;  
        height: 80%;
        margin: 0; 
        flex-direction: column;  
        overflow: hidden; 
        row-gap: 10px;
    }  

    .h-card{
        width: calc(90% - 20px);  
        height: 125px;
        background: white;
        border-radius: 5px; 
        box-shadow: 1px 4px 2px 2px rgba(0, 0, 10, 0.51); 
        border-radius: 5px; 
        padding: .5em ;
        display: grid; 
        grid-template-rows: 1fr 40% 1fr; 
        gap: 4%; 
        
        
     
        
    }  
    
    
    .c-top h1 {
        font-size: 1rem;
    }
    
    .c-top h2{
        font-size: .7rem;
    }
    
    .c-mid{
        margin-top: 10px;
        display: flex;
        flex-direction: row; 
        gap: 5px;
      
    }   
    
    .h-read-more{
        width: 80px; 
        height: 20px;
    }

    
 
}