*{
    box-sizing: border-box; 
    color: rgb(44, 44, 44) ;
}



.profile-card{
    width: 100%; 
    background: white;
    border-radius: 5px; 
    height: 80vh; 
    display: flex; 
    flex-direction: column; 
    padding: 1.5rem;

}  

.p-card-top{ 
    background-color: white; 
    height: 150px;
    width: 100%; 
    display: grid;
    grid-template-columns: 1fr 0fr; 
    padding:  0 2px;
    justify-content: end; 

    
}  

.p-card-top h1{
    font-size: 2rem; 
    
} 

.p-card-top h2 {
    font-size: .8rem;
}

.p-card-bottom{
    display: grid;
  grid-template-columns: auto;
  position: relative;
  width: 1000; 
  height: 65%; 
  background-color: rgb(236, 236, 236);
  padding: 1rem; 
  border-radius: 5px;
}    

.p-card-bottom h1{
    margin: 0;
    font-size: 1.2rem;
}

.pic-box{
    width: 80px;
    height: 80px; 
    background-color: rgba(232, 33, 73, 0.683); 
    border-radius: 50%; 
    border: solid 5px whitesmoke; 
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px; 
    display: flex;
    justify-content: center;
    align-items: center; 
    font-size: 2.5rem;  
    font-weight: bold;  
    color: white; 
    padding: 0; 
    
}


.box-wrap{
    height: 100%;
    background-color: rgb(236, 236, 236);  
    border-radius: 5px;  
    display: grid; 

} 

.test-box{
     width: 100%;
     height: 90%; 
     display: grid; 
     grid-template-rows: 1fr 1fr 2fr;  
     grid-gap:3%;
     
}

.ep-btn{
    background-color: none;
    border: 5px grey solid; 
    width: 6rem;  
    position: absolute;
    bottom: 0;
    left: 0; 
    margin-left: 5%;
    margin-bottom: 5%; 
    cursor: pointer; 
    color: white;
    
}   

.sign-out-btn{
    background: none;
    width: 6rem;  
    position: absolute;
    bottom: 0;
    right: 0; 
    text-transform: capitalize;
    cursor: pointer; 
    color:rgba(255, 38, 0, 0.865); 
    transition: ease-in;
    
}    

.sign-out-btn:hover{ 

   background: rgb(241, 99, 99); 
   color:black
    
}    



.tb-1{ 
    width: 100%;
    height: auto; 
    background: rgb(236, 236, 236);

}  


.tb-1  h1{
    font-size: 1.3rem; 
} 
.tb-1 p{
    margin: 0;
}  


@media (min-width: 1090px){  
    .profile-card{
        width: 50% ; 
        padding: 1rem;
    } 

    .pic-box{
        display: none;
    } 

    .p-card-bottom{
        display: grid;
      grid-template-columns: repeat(3, 1fr);
      position: relative;
      width: 100%; 
      height: 100%; 
      background-color: rgb(236, 236, 236);
      padding: 1rem; 
      border-radius: 5px;
    }    

    .p-card-top h1 {
        color: rgba(40, 40, 40, 0.837); 
        font-size: 1.7rem;
    }
    .p-card-top h2 {
        color: rgb(225, 101, 70);
        font-size: .8rem; 
        
    }
    
    .pic-edit{
        width: 40px;
        height: 40px; 
        background: url(../images/edit\ icon.svg);
        background-repeat: no-repeat; 
        background-size: cover; 
        opacity: 80%; 
        cursor: pointer;
    } 
    .pic-save{
        width: 35px;
        height: 35px; 
        background: url(../images/save-icon.png);
        background-repeat: no-repeat; 
        background-size: cover; 
        opacity: 80%; 
        cursor: pointer; 
        transition: ease-in;
    }  

    .pic-edit:hover{
        opacity: 75%;
    }

    .pic-save:hover{
        transform: scale(85%); 
        opacity: 60%;
        
    }
}