.container{
    align-items: center;
}


.search-container{
    display: flex; 
    flex-direction: row;    
    padding: 1rem;
    width: 95%;
    background: white; 
    border-radius: 5px; 
    box-shadow: rgba(149, 157, 165, 0.2) 0px 4px 10px; 
    transition: background ease-in 5ms; 
    transition:border ease-in 5ms ;
}
 

.search-container:focus-within{
    background: rgb(234, 234, 234); 
    
}

.s-icon{
    width: 30px; 
    height: 30px; 
    padding: 0; 
    margin: 0; 
    fill: orange;
}   

.search-inp{
    height: 100%;
    width: 100%;
    margin-left:20px ;
    border: none;   
    outline: none;
    background: transparent; 
    font-size: 1.5rem;
}

.s-card{
    width: 100%; 
    height: 25%;  
    background: white;
    border-radius: 5px; 
    box-shadow: 1px 4px 2px 2px rgba(0, 0, 10, 0.594); 
    margin: 1em 0; 
    padding: .5em ;
    display: grid; 
    grid-template-rows: 1fr 40% 1fr; 
    gap: 10%;
}

.c-mid{

    display: flex;
    flex-direction: row; 
    gap: 10px;
  
}

